<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Sửa Sản Phẩm' : 'Thêm Mới Sản Phẩm'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Tên Sản Phẩm: </label>
          <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Tên Sản Phẩm" required>
        </div>
         <div class="form-group" show-errors>
          <label class="control-label" for="catalog_id">Thuộc Danh Mục: </label>
          <select name="catalog_id"  ng-model="vm.product.catalog_id" id="catalog_id" class="form-control" required>
            <option value="">--- Lựa chọn ---</option>
            <option ng-repeat="catalog in vm.catalogs" value="{{ catalog.name}}">{{ catalog.name }}</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="price">Giá Sản Phẩm: </label>
          <input name="price" type="text" ng-model="vm.product.price" id="price" class="form-control" placeholder="Giá Sản Phẩm" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="discount">Chiết Khấu: </label>
          <input name="discount" type="text" ng-model="vm.product.discount" id="discount" class="form-control" placeholder="Chiết Khấu" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="description">Mô Tả Sản Phẩm: </label>
          <textarea name="description" type="text" ng-model="vm.product.description" id="description" class="form-control" placeholder="Mô Tả Sản Phẩm" required></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="tags">Tags: </label>
          <input name="tags" type="text" ng-model="vm.product.tags" id="tags" class="form-control" placeholder="Tags" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="status">Trạng Thái: </label>
          <input name="status" type="text" ng-model="vm.product.status" id="status" class="form-control" placeholder="Trạng Thái" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="views">Số Lượt Xem Sản Phẩm: </label>
          <input name="views" type="text" ng-model="vm.product.views" id="views" class="form-control" placeholder="Số Lượt Xem Sản Phẩm" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
